.f2 {
    color: #090;
}
.hl.f1 {
    color: #f66;
}
.push-ipdatetime {
    float: right;
    color: #bbb;
}
.f3 {
    color: #990;
}

.ptt-text{
    color: #bbb;
}

.article-metaline {
    margin: 0;
    padding: 0;
    background-color: #008;
    line-height: 100%;
}

.article-meta-tag {
    padding: 0 1ex;
    background-color: #999;
    color: #008;
}

.article-meta-value {
    padding: 0 1ex;
    background-color: #008;
    color: #999;
}

.ptt-btn{
    position: relative;
    display: inline-block;
    border: 1px solid #666;
    background-color: #444;
    padding: 0 1ex;
    text-decoration: none;
    color: #ddd;
    box-sizing: border-box;
    font-size: small;
    text-align: center;
    line-height: 40px;
}

.ptt-btn.selected {
    border-color: #ccc;
    background-color: #bbb;
    color: #000;
    z-index: 2;
}

thead{
    color: #ff6;
}

tbody > tr > th{
    color: #6f6;
}

tbody > tr > td{
    color: #aaa;
}

#topbar > * {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 5px;
    float: left;
}

#topbar > *.right {
    float: right;
}

span:hover, a:hover{
    color: white !important;
    text-decoration: none !important;
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

a:visited {
    color: #888;
    text-decoration: none;
}

a:link {
    color: #aaa;
}

.small {
    font-size: small;
}

.bbs-content {
    font-family: "細明體", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
}

#topbar .board-label {
    font-size: small;
    vertical-align: middle;
}

#logo, #logo:link, #logo:visited, #logo:hover {
    text-decoration: none;
    color: #ff6;
}

#topbar .board {
    color: #fff;
}

#topbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 99;
    background-color: #0c0a66;
    overflow-y: hidden;
    overflow-x: auto;
}

#topbar {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    color: #aaa;
}

.rwd-component{
    padding: 10px;
    background: #111;
    width: 70% !important;
}

.text-bg{
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(255, 255, 255, 0.7);
}
.novel-table{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.45);
}

@media(max-width:767.98px){
    .rwd-component{
        padding: 10px;
        background: #111;
        width: 100% !important;
    }   
}