.rwd-component{
    width: 70% !important;
}

.text-bg{
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(255, 255, 255, 0.7);
}
.novel-table{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.45);
}

@media(max-width:767.98px){
    .rwd-component{
        width: 100% !important;
    }   
}